*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:1430px){
    div.Premiere_carousel_navigator_container{
        display: none;
    }

    div.Premiere_carousel{
        overflow-x: scroll !important;
    }
}

div.Premiere{
    width: 100%;
    background-color: rgb(43, 49, 72);
    padding-top: 40px;
    position: relative;
}

div.Premiere_Upper_Section{
    margin-bottom: 50px;
}

div.Premiere_Upper_Section div{
    width: 92%;
    max-width: 1240px;
    margin: 0 auto;
}

div.Premiere_Upper_Section div img{
    width: 100%;
}

div.Premiere_text{
    width: 100%;
    margin-bottom: 20px;
}

div.Premiere_text_1{
    width: 92%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2px;
}

div.Premiere_text_1 div{
    display: flex;
    align-items: center;
    gap: 2px;
    color: rgb(220, 53, 88);
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

div.Premiere_text_1 div div{
    width: 4px;
    height: 4px;
    border-top: 1px solid rgb(220, 53, 88);
    border-right: 1px solid rgb(220, 53, 88);
    transform: rotateZ(45deg);
}

div.Premiere_text_2{
    width: 92%;
    max-width: 1240px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
}

div.Premiere_carousel{
    width: 92%;
    max-width: 1240px;
    margin: 0 auto;
    overflow-x: hidden;
    padding-bottom: 20px;
}


div.Premiere_carousel_slider{
    display: flex;
    gap: 31px;
    transition: 1s ease;
}

div.Premiere_carousel_slider div{
    cursor: pointer;
}

div.Premiere_carousel_slider div a div:nth-child(1){
    height: calc(333.569px);
    max-height: calc(333.569px);
    border-radius: 8px;
}

div.Premiere_carousel_slider div a div:nth-child(1) img{
    height: 100%;
    border-radius: 8px;
}

div.Premiere_carousel_slider div a div:nth-child(2){
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    margin: 14px 0;
}
div.Premiere_carousel_slider div a div:nth-child(3){
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}

div.Premiere_carousel_navigator_container{
    width: 100%;
    height: 40px;
    background: transparent;
    position: absolute;
    top: 60%;
}

div.Premiere_carousel_navigator{
    width: 92%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background: transparent;
    display: flex;
    justify-content: space-between;
}

div.Premiere_carousel_navigator_left{
    width: 40px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    visibility: hidden;
}

div.Premiere_carousel_navigator_right{
    width: 40px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.Premiere_carousel_navigator_left div{
    width: 12px;
    height: 12px;
    background: transparent;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transform: rotateZ(-45deg);
    position: absolute;
    left: 40%;
}

div.Premiere_carousel_navigator_right div{
    width: 12px;
    height: 12px;
    background: transparent;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotateZ(45deg);
    position: absolute;
    right: 40%;
}